.skills-container {
  margin-top: 50px;
  padding-left: 290px;
  padding-right: 290px;
  color: white;
  font-size: 20px;
  position: relative;
}

.skills-heading {
  text-align: center;
  margin-bottom: 20px;
}

.skills-heading-1 {
  display: inline;
  margin-left: 10px;
  color: yellow;
}

.tap-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.tap-animation {
  width: 50px;
  height: 50px;
  animation: tapAnimation 1.5s infinite ease-in-out;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 40px;
  padding: 20px;
  width: 100%;
}

.skills-image-container {
  background-color: #4e4c4c;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  animation: flipInX 1.5s ease both;
}

.image-path {
  width: 100px;
  height: auto;
}

.skills-image-container:hover {
  background-color: rgb(231, 163, 107);
  transform: translateY(-10px);
}

.image-desc {
  margin-top: 10px;
  font-size: 16px;
  color: #e1dada;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    transform: perspective(400px) rotateX(10deg);
  }
  to {
    transform: perspective(400px) rotateX(0);
    opacity: 1;
  }
}

@keyframes tapAnimation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

@keyframes bounceOutLeft {
  20% {
    transform: translate3d(-10px, 0, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

@keyframes bounceOutRight {
  20% {
    transform: translate3d(10px, 0, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.bounceOut {
  animation: bounceOut 1.5s ease both;
}

.bounceOutDown {
  animation: bounceOutDown 1.5s ease both;
}

.bounceOutUp {
  animation: bounceOutUp 1.5s ease both;
}

.bounceOutLeft {
  animation: bounceOutLeft 1.5s ease both;
}

.bounceOutRight {
  animation: bounceOutRight 1.5s ease both;
}

@media (max-width: 768px) {
  .skills-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
  }

  .image-path {
    width: 80px;
    height: 80px;
  }

  .image-desc {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .skills-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
  }

  .image-path {
    width: 80px;
    height: 80px;
  }

  .image-desc {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 5px;
  }

  .image-path {
    width: 60px;
    height: 60px;
  }

  .image-desc {
    font-size: 12px;
  }
}
